<div class="row">
    <div class="col-md-12">
        <form class="form-horizontal" role="form" novalidate name="formulario">
            <div class="col-md-5">
                <div class="form-group">
                    <legend>Cadastro de Atividades</legend>
                </div>
                <div class="form-group">
                    <label>Titulo</label>
                    <input placeholder="Titulo da Atividade" id="tituloId" type="text" name="titulo" class="form-control" ng-model="homeController.atividade.titulo"
                        autofocus required>
                </div>
                <div class="form-group">
                    <label>Descrição</label>
                    <input placeholder="Descrição da Atividade" type="text" name="Descricao" class="form-control" ng-model="homeController.atividade.descricao"
                        required>
                </div>
                <div class="form-group">
                    <label>Data</label>
                    <input ui-mask="{{homeController.mask.data}}" model-view-value="true" placeholder="__/__/____" type="text" name="data" class="form-control"
                        ng-model="homeController.atividade.data" required>
                </div>
                <div class="form-group">
                    <label>Status</label>
                    <select class="form-control" ng-options="status.codigo as status.descricao for status in homeController.listaStatus" ng-selected="status.codigo"
                        ng-model="homeController.atividade.status">
                     </select>
                </div>
                <button type="button" class="btn btn-primary" ng-disabled="formulario.$invalid" ng-click="homeController.salvar()">
		     	Salvar
          		</button>
            </div>
            <div class="col-md-1">
                &nbsp;
            </div>
            <div class="col-md-6">
                <label>Pesquisa por Data</label>
                <div class="input-group col-md-6">
                    <input ui-mask="{{homeController.mask.data}}" model-view-value="true" placeholder="__/__/____" type="text" class="form-control"
                        ng-model="homeController.dataPesquisa">
                    <span class="input-group-btn">
                            <button type="button" class="btn btn-info" ng-click="homeController.GetPorData()">Pesquisa</button>
                        </span>
                </div>
                <span class="input-group-btn">
                            <button type="button" class="btn btn-info pull-right" ng-click="homeController.GetTodos()">Todos</button>
                        </span>
                <div class="panel panel-default">
                    <div class="panel-heading">Tabela de Atividades</div>
                    <div ng-drop="true" ng-drop-success="homeController.deletar($data)" class="panel-body">
                        <p class="btn btn-danger">Arraste até aqui...</p>
                    </div>
                    <table class="table table-striped table-bordered table-hover table-condensed">
                        <thead>
                            <tr>
                                <th>Id</th>
                                <th>Titulo</th>
                                <th>Descrição</th>
                                <th>Data</th>
                                <th>Status</th>
                            </tr>
                        </thead>
                        <tbody ng-repeat="atividade in homeController.listaAtividades track by $index">
                            <tr ng-drag="true" ng-drag-data="atividade.atividadeID" data-allow-transform="true">
                                <td>{{atividade.atividadeID}}</td>
                                <td>{{atividade.titulo}}</td>
                                <td>{{atividade.descricao}}</td>
                                <td>{{atividade.data | date: 'dd/MM/yyyy'}}</td>
                                <td>{{homeController.descricaoStatus(atividade.status)}}</td>
                                <td>
                                    <button type="button" class="btn btn-sm btn-primary" ng-click="homeController.modificarRegistro(atividade)"><i class="fa fa-pencil fa-fw"></i></button>
                                    <button type="button" class="btn btn-sm btn-danger" ng-click="homeController.deletar(atividade.atividadeID)"><i class="fa fa-times fa-fw"></i></button>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </form>
    </div>
</div>